
.menu{
  width: 600px;
  height: 600px;
  background-color: #9ee3fa;
  position: relative;
}

.config-container{
  width: 50px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.config-button{
  width: 50px;
  height: 50px;
  position: relative;
  border: 1px solid rgb(89, 157, 180);
  border-radius: 50%;
  background-color: lightblue;
  box-shadow: 0px 4px 0px rgb(102, 119, 126);
  cursor: pointer;
}

.config-button:active{
  top: 2px;
  box-shadow: 0px 2px 0px rgb(102, 119, 126);
}

.config-icon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #005470;
}

.play-container{
  width: 150px;
  position: absolute;
  top: 60%;
  left: 50%;
  /* -ms-transform: translate(-50%, -50%); */
  transform: translate(-50%, -50%);
}

.play-button{
  width: 150px;
  height: 75px;
  position: relative;
  border: 1px solid rgb(89, 157, 180);
  border-radius: 9999px;
  background-color: lightblue;
  box-shadow: 0px 4px 0px rgb(102, 119, 126);
  cursor: pointer;
  user-select: none;
}

.play-button:active{
  top: 2px;
  box-shadow: 0px 2px 0px rgb(102, 119, 126);
}

.play-icon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #005470;
}

.game-title-container{
  display: inline-block;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.game-title{
  margin: 0;
  font-size: 50px;
  color: #227895;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  user-select: none;
}
