
.info-layout{
  width: 500px;
  height: 80px;
  border-bottom: 2px solid cadetblue;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.info-layout-buttons-container{
  /* width: 220px; */
  /* border: 1px solid black; */
  position: absolute;
  right: 0%;
}

.home-button{
  width: 40px;
  height: 40px;
  margin-right: 10px;
  /* padding: 0%; */
  background: lightblue;
  border: 1px solid rgb(89, 157, 180);
  border-radius: 50%;
  cursor: pointer;
  /* text-align: center; */
  /* font-size: 20px; */
  box-shadow: 0px 2px 0px rgb(102, 119, 126);
  position: relative;
}

.home-button:active{
  top: 1px;
  box-shadow: 0px 1px 0px rgb(102, 119, 126);
}

.home-icon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sound-button{
  width: 40px;
  height: 40px;
  /* padding: 0%; */
  background: lightblue;
  border: 1px solid rgb(89, 157, 180);
  border-radius: 50%;
  cursor: pointer;
  /* text-align: center; */
  /* font-size: 20px; */
  box-shadow: 0px 2px 0px rgb(102, 119, 126);
  position: relative;
}

.sound-button:active{
  top: 1px;
  box-shadow: 0px 1px 0px rgb(102, 119, 126);
}

.sound-icon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.score-info{
  width: 280px;
  height: 20px;
  /* border: 1px solid cadetblue; */
  /* display: inline-block; */
  /* margin: 20px auto; */
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.player1-name{
  width: 100px;
  height: 20px;
  /* float: left; */
  /* border: 1px solid black; */
  box-sizing: border-box;
  text-align: right;
  line-height: 20px;
  user-select: none;
}

.player1-score{
  width: 40px;
  height: 20px;
  /* float: left; */
  border-right: 1px solid cadetblue;
  box-sizing: border-box;
  padding-right: 5px;
  text-align: right;
  line-height: 20px;
  user-select: none;
}

.player2-score{
  width: 40px;
  height: 20px;
  border-left: 1px solid cadetblue;
  box-sizing: border-box;
  padding-left: 5px;
  line-height: 20px;
  user-select: none;
}

.player2-name{
  width: 100px;
  height: 20px;
  /* border: 1px solid black; */
  box-sizing: border-box;
  line-height: 20px;
  user-select: none;
}

.float{
  float: left;
}