
.cell{
  width: 150px;
  height: 150px;
  position: relative;
  float: left;
  border: 1px solid cadetblue;
  box-sizing: border-box;
}

.cell-content{
  color: cadetblue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top{
  border-top: none;
}

.right{
  border-right: none;
}

.bottom{
  border-bottom: none;
}

.left{
  border-left: none;
}